<!DOCTYPE html>
<html lang="en">

<head>
    <include file="Common/head" />
</head>

<body>

    <include file="Common/header" />

    <span id="sidebar_active" style="display: none;">study</span>
    <include file="Common/sidebar" />

    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div>
                        <a class="btn btn-info add-que">添加题库</a>
                        <script>
                            ! function() {
                                $('.add-que').click(function() {
                                    showAlt($(this).find('span').html());
                                });
                            }()
                        </script>
                        <div class="alert_demo tc add-alert">
                            <input id="que" type="text" style="" placeholder="题库名">
                            <div class="btn btn-info quit-add">取消</div>
                            <div class="btn btn-danger sure-add">确定</div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>题库列表</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>标题</th>
                                        <th>创建时间</th>
                                        <th style="width: 120px">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="data" id="vo">
                                        <tr>
                                            <td>1</td>
                                            <td>题库名</td>
                                            <td>2018-02-12</td>
                                            <td>
                                                <a href="{:U('Report/reportDetail',array('id'=>$vo['id'],'scale'=>$scale))}" class="btn btn-primary">查看</a>
                                                <div class="btn btn-danger deleteBtn">删除
                                                    <span style="display: none;">{$vo['id']}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <p id="pageNum" style="display: none;">{$page}</p>
                        <p id="maxPage" style="display: none">{$maxPage}</p>
                        <p class="page tc">
                            <if condition="$page != 1">
                                <a href="{:U('Report/reportList',array('page'=>$page-1,'scale'=>$scale,'keyword'=>$keyword))}">上一页</a>
                            </if>
                            <span id="pageList">
                                <a href="">1</a>
                            </span>
                            <if condition="($page != $maxPage) and ($page lt $maxPage)">
                                <a href="{:U('Report/reportList',array('page'=>$page+1,'scale'=>$scale,'keyword'=>$keyword))}">下一页</a>
                            </if>
                        </p>
                        <script>
                            ! function() {
                                var page = document.getElementById('pageNum').innerHTML;
                                var maxPage = document.getElementById('maxPage').innerHTML;
                                var start;
                                var end;
                                var list = "";
                                if (page <= 5) {
                                    start = 1;
                                    if (maxPage <= 9) end = maxPage;
                                    else end = 9;
                                } else if (page >= maxPage - 4) {
                                    end = maxPage;
                                    if (maxPage - 8 > 1) start = maxPage - 8;
                                    else start = 1;
                                } else {
                                    start = page - 4;
                                    end = parseInt(page) + 4;
                                }
                                for (var i = start; i <= end; i++) {
                                    var url =
                                        "{:U('Report/reportList',array('page'=>temp1,'scale'=>$scale,'keyword'=>$keyword))}";
                                    url = url.replace("temp1", i);
                                    if (i == page) list += '<a style="color:red">' + i + '</a>';
                                    else list += '<a href=' + url + '>' + i + '</a>';
                                }
                                document.getElementById('pageList').innerHTML = list;
                            }()
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c9 lh50 tc">Copyright © 深圳市宝安区石岩街道纪工委. All Rights Reserved 未经同意 请勿转载</div>
    <div class="blk_demo" id="blk_demo"></div>
    <div class="alert_demo tc" id="alert_demo">
        <p class="pd20_0">删除后无法恢复，确定删除？</p>
        <div id="reportId" style="display: none;"></div>
        <!-- <div id="reportId"></div> -->
        <div class="btn btn-info" id="hideAlt">取消</div>
        <div class="btn btn-danger" id="delete">确定</div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/js/jquery.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.js"></script>
    <script src="__PUBLIC__/js/unicorn.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.form_validation.js"></script>
    <script>
        // 显示弹窗 
        function showaddAlt() {
            $('.add-alert').css('display', 'block');
            $('#blk_demo').css('display', 'block');
        }
        // 隐藏弹窗 
        function hideaddAlt(id) {
            $('.add-alert').css('display', 'none');
            $('#blk_demo').css('display', 'none');
        }

        function addReport() {
            if ($('#que').value()) {
                $.post('/admin.php/Home/Report/delete', {
                    text: $('#que').value()
                }, function(data) {
                    if (data == 0) window.location.reload();
                    else alert('添加失败');
                });
            } else {
                alert('题库名不可为空')
            }

        }
        $('.add-que').click(function() {
            showaddAlt()
        });
        $('.quit-add').click(function() {
            hideaddAlt()
        });
        $('.sure-add').click(function(id) {
            addReport()
        })
    </script>
    <script>
        ! function() {
            // 显示弹窗
            function showAlt(id) {
                $('#alert_demo').css('display', 'block');
                $('#blk_demo').css('display', 'block');
                $('#reportId').html(id);
            }
            // 隐藏弹窗
            function hideAlt(id) {
                $('#alert_demo').css('display', 'none');
                $('#blk_demo').css('display', 'none');
            }

            function deleteReport() {
                $.post('/admin.php/Home/Report/delete', {
                        id: $('#reportId').html()
                    },
                    function(data) {
                        if (data == 0) window.location.reload();
                        else alert('删除失败');
                    }
                );
            }
            $('.deleteBtn').click(function() {
                showAlt($(this).find('span').html());
            });
            $('#hideAlt').click(function() {
                hideAlt()
            });
            $('#delete').click(function() {
                deleteReport()
            })
        }()
    </script>
</body>

</html>