<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Common/head" />
</head>
<body>

    <include file="Common/header" />

    <span id="sidebar_active" style="display: none;">index</span>
    <include file="Common/sidebar"/>

    <div id="content">
       <p>视频教育</p>
    </div>
    <div class="c9 lh50 tc">Copyright © 深圳市宝安区石岩街道纪工委. All Rights Reserved 未经同意 请勿转载</div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/js/jquery.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.js"></script>
    <script src="__PUBLIC__/js/unicorn.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.form_validation.js"></script>

</body>
</html>