<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Common/head" />
</head>
<body>

    <include file="Common/header" />

    <span id="sidebar_active" style="display: none;">article</span>
    <include file="Common/sidebar"/>

    <div id="content">
        <div><a href="./ArticleAdd.html"><button class="btn btn-default bg_blue01 c_white center mg10">添加</button></a></div>
        <table class="table tc">
            <tr>
                <th>ID</th>
                <th>解读标题</th>
                <th>添加时间</th>
                <th></th>
                <th></th>
            </tr>
            <foreach name='a_article' item='admin_art'> 
            <tr>
                <td>{$admin_art.id}</td>
                <td>{$admin_art.title}</td>
                <td>{$admin_art.c_time}</td>
                <td><a href="{:U('Article/ArticleEdit',array('id'=>$admin_art['id']))}"><button class="btn btn-default btn-warning">编辑</button></a></td>
                <td><a href="{:U('Article/ArticleDelete',array('id'=>$admin_art['id']))}"><button class="btn btn-default btn-danger">删除</button></a></td>
            </tr>
            </foreach>
        </table>
    </div>
    <div class="c9 lh50 tc">Copyright © 深圳市宝安区石岩街道纪工委. All Rights Reserved 未经同意 请勿转载</div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/js/jquery.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.js"></script>
    <script src="__PUBLIC__/js/unicorn.wizard.js"></script>
    <script src="__PUBLIC__/js/unicorn.form_validation.js"></script>

</body>
<style>
    #content{
        padding: 40px;
    }
    .center:hover{
        background:#285FC1!important;
        color: #fff;
    }
</style>
</html>